<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.AppointmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GenericListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.PhoneLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.CategoryServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.InvoiceListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.InvoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminMainActivity"
            android:theme="@style/Theme.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminDoctorActivity"
            android:theme="@style/Theme.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminServiceActivity"
            android:theme="@style/Theme.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminServiceDetailActivity"
            android:theme="@style/Theme.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminRoomActivity"
            android:theme="@style/Theme.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminCategoryActivity"
            android:theme="@style/Theme.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ui.activities.QRCheckInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PatientQueueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.staff.QRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PatientQRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.staff.QueueManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.staff.DoctorWorkflowActivity"
            android:exported="true" />
            
        <!-- Prescription -->
        <activity
            android:name=".ui.activities.staff.PrescriptionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.activities.QRTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PrescriptionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MedicalRecordDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.EmrActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BookAppointmentActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize"/>


        <activity
            android:name=".ui.activities.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TreatmentPlanDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ImageViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="unspecified" />
    </application>

</manifest>
